[submodule "backend"]
	path = backend
	url = https://github.com/MichaelGloessl04/ballking_backend

[submodule "frontend"]
	path = frontend
	url = https://github.com/MichaelGloessl04/ballking_frontend
